<!DOCTYPE html>
<html>
  <head>
    <title>Openbadges Displayer Prototype</title>
    <style type="text/css">
      * {
        font-family: Helvetica, Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <img src="mountain.png">
    <img src="demobadge.png">
    <img src="demobadge.png">
    <img src="mountain.png">
    
    <script type="text/javascript" src="openbadges-displayer.min.js" inline></script>
    <script type="text/javascript">
      new window.obd();
    </script>
  </body>
</html>