.open-badge-thumb {
  border: 10px solid #000;
  float: left;
  background-color: #fff;
  position: relative;
  margin: 0 20px 20px 0;
}

.open-badge-thumb img {
  margin: 0px;
  padding: 0px;
  display: block;
}

.open-badge-thumb img.badgeLogo {
  position: absolute;
  bottom: -14px;
  right: -15px;
  z-index: 20;
}

.open-badge-thumb .ob-info {
  width: 100%;
  position: absolute;
  background-color: #fff;
  border-top: 10px solid #000;
  z-index: 10;
}