@transition_time: .15s;

.ob-overlay {
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}

.ob-lightbox {
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  position: absolute;
  top: -55px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  max-width: 700px;
  max-height: 300px;

  .obd-badge-modal {
    border: 10px solid #000;
    background-color: #fff;
    padding: 10px;

    .obd-image {
      float: left;
      margin-right: 10px;
    }

    .obd-description {
      float: left;
      width: 330px;
    }
  }

  .obd-badge-modal:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.open-badge-thumb {
  border: 10px solid #000;
  display: inline-block;
  background-color: #fff;
  position: relative;
  margin: 0 20px 20px 0;

  img {
    margin: 0px;
    padding: 0px;
    display: block;
  }

  .ob-badge-logo-wrapper {
    top: -40px;
    right: 30px;
    position: absolute;
  }

  .ob-badge-logo {
    position: fixed;
    z-index: 20;
    background: url('/assets/src/badgelogo.png') left top no-repeat;
    width: 40px;
    height: 46px;
    -webkit-transition: all @transition_time ease-in-out;
    -moz-transition: all @transition_time ease-in-out;
    -o-transition: all @transition_time ease-in-out;
    transition: all @transition_time ease-in-out;
  }

  .ob-info {
    width: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    bottom: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 0px;
    background-color: rgba(255,255,255,0);

    -webkit-transition: all @transition_time ease-in-out;
    -moz-transition: all @transition_time ease-in-out;
    -o-transition: all @transition_time ease-in-out;
    transition: all @transition_time ease-in-out;

    overflow: hidden;

    p {
      margin: 0;
      padding: 0;
      visibility:hidden;
      max-height: 90px;
      overflow: hidden;
    }

    .ob-badge-title {
      display: block;
    }
  }

  &:hover {
    cursor: pointer;
    .ob-info {
      border-top: 10px solid #000;
      padding: 5px;
      max-height: 100px;
      background-color: rgba(255,255,255,1);
    }
    p {
      visibility:visible;
    }
  }
}